<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title><%= content_for(:title) || t("app.title") %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

</head>
<body class="bg-gray-50 min-h-screen flex flex-col">

  <header class="border-b border-gray-200 bg-white/80 backdrop-blur">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
      <%= link_to root_path, class: "inline-flex items-center gap-2 text-gray-800 hover:text-gray-600 transition-colors" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-indigo-600">
          <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd"/>
        </svg>
        <span class="font-semibold"><%= t("app.name") %></span>
      <% end %>

      <%= render "shared/navbar" %>
    </div>
  </header>

  <main class="container mx-auto px-4 py-6 flex-grow">
    <div class="max-w-5xl mx-auto">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </main>

  <%= render "shared/footer" %>

</body>
</html>
